header, footer {
    background-color: #464545;
    color: $white;
    text-shadow: 2px 1px 1px rgba(60, 156, 150, 0.5);
    padding: $default-padding;
}

nav {
    padding: 0.5rem;
}

header h1 {
    font-size: 2.2em;
}

.top-nav li {
    display: inline;
    margin-right: calc($default-padding * 2);
    a {
        padding: 0.5rem 0.75rem;
        border-radius: 0.25rem;
        background-color: #4d4d4d;
        transition: background-color 0.3s ease;
    }
    a:hover {
        background-color: rgb(88, 88, 88);
    }
}
