/** Native html element default styling */
* {
    box-sizing: border-box;
}

html, body, ul, li {
    margin: 0;
    padding: 0;
}

a {
    color: $white;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    padding: 2rem;
    color: #1f1d1f;
    font-family: Arial, sans-serif;
    text-align: center;
}

main {
    padding: calc($default-padding/2);
    margin: 0.5rem auto;
    display: flex;
    flex-direction: column;
    width: 80%;
}

/* Custom class styling */
.title {
    color: #f9a825;
}
.description {
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: justify;
}
.sub-description {
    color: rgb(158 158 158);
    letter-spacing: 0.5px;
    font-style: italic;
}
.banner-img {
    width: 100%;
    img {
        max-width: 100%;
    }
    // para cada border (total 4 bordes) existe 2 conjuntos de valores - la derecha y la izquierda
    clip-path: polygon(5% 0%, 95% 0%, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0% 90%, 0% 10%);
}
.photo__lead-singer {
    clip-path: circle(90px);
}
