/** Native html element default styling */
* {
    box-sizing: border-box;
}

html, body, ul, li {
    margin: 0;
    padding: 0;
}

a {
    color: $white;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    padding: 2rem;
    height: 100vh;
    color: #1f1d1f;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #464545;
    color: $white;
    padding: $default-padding;
}

main {
    padding: calc($default-padding/2);
    margin: 0.5rem auto;
    display: flex;
    flex-direction: column;
    width: 80%;
}

/* Custom class styling */

.top-nav li {
    display: inline;
    margin-right: $default-padding;
}
.title {
    color: #f9a825;
}
.description {
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: justify;
}
.sub-description {
    color: rgb(158 158 158);
    letter-spacing: 0.5px;
}
.banner-img {
    width: 100%;
    img {
        max-width: 100%;
    }
}
